<div class="login-container">
    <div class="image-section">
        <img src="../assets/bg.jpeg" class="background-image" />
    </div>
    <div class="form-section">
        <div class="form-content">
            <input type="text" placeholder="Username" class="input-field" />
            <div class="password-field">
                <input type="password" placeholder="Password" class="input-field" />
                <button class="toggle-visibility">
                    <i class="icon-eye"></i>
                </button>
            </div>
            <div class="remember-me">
                <input type="checkbox" id="remember-me" />
                <label for="remember-me">Remember Me</label>
            </div>
            <button class="login-button">Login</button>
            <br>
            <a routerLink="/register" routerLinkActive="router-link-active" class="register-link">Register</a>
        </div>
    </div>
</div>